/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #343a40;
}

.container {
  width: 95%;
  margin: 70px auto;
}

@media screen and (min-width: 1250px) {
  .container {
    max-width: 1180px;
  }
}

/* HEADER */
header {
  margin-bottom: 48px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.logo__container {
  max-width: 400px;
}

.logo__img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1 {
  color: #212529;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -3.5px;
}

@media screen and (max-width: 900px) {
  .logo {
    flex-flow: column;
    align-items: flex-start;
  }
  .logo__img {
    margin-top: 30px;
  }
  h1 {
    font-size: 5.2rem;
  }
}
.logo__img--top {
  margin: 0;
}

/* HEADINGS */
h2 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #18c8c8;
  text-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}

/* SECTIONS */
section {
  margin-bottom: 45px;
  border: 10px double #ddd;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}

/* RESPONSIVE IMAGES */
figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

/* FLEX CONTENTS */
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row__text {
  flex: 0 0 45%;
}

.row__fig {
  flex: 0 0 45%;
  margin: 0;
}

@media screen and (max-width: 900px) {
  section {
    box-shadow: unset;
  }
  .row {
    flex-direction: column;
  }
}

/* TEXT */
ul {
  padding-left: 2.4rem;
}
.row li {
  margin-bottom: 1.2rem;
}

.row li:last-child {
  margin: 0;
}

.row p,
.row ul {
  font-size: 1.8rem;
  margin: 0 0 1.6em 0;
}

.row p,
.row ul,
figcaption {
  line-height: 1.6;
  font-weight: 400;
}

figcaption {
  text-align: center;
}

.row ul {
  list-style-type: square;
}

.row li::marker {
  color: #18c8c8;
}

/* FOOTER */
footer {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* LINKS */
#tribute-link {
  display: inline-block;
  text-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
}

a,
a:visited {
  color: #c88200;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: all 0.2s;
}

a:hover,
a:active {
  color: #ed1d24;
  border-bottom: 2px solid #ed1d24;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  footer {
    font-size: 2.4rem;
  }
}
